:root { 
--yellow_400:#e6f85e; 
--black_900_7f:#0000007f; 
--white_A700_7f:#ffffff7f; 
--white_A700_33:#ffffff33; 
--blue_gray_200:#bdbfd4; 
--gray_900_d8:#1a1b2fd8; 
--black_900:#000000; 
--gray_900:#191a28; 
--white_A700_19:#ffffff19; 
--white_A700:#ffffff; 
}